<h1>Resto trop bien de la mort</h1>
<h5>Miam ici on mange bien</h5>

	<body>
	 <div class="menu">
     	
     	<ul>
            <ol><a href = "#tabs-2">Presentation</a></ol>
            <ol><a href = "#tabs-3">Menu</a></ol>
            <ol><a href = "#tabs-4">Ils parlent de nous</a></li>
         </ol>
		
		<div id = "tabs-2">
            <p>
               	Pablo le restau preferé de Pablo Picasso, specilisé dans la gastronomie Colombienne, tout nos plat sont soupoudrer de Cocaine afin de vous mettre bien tah les ouf khouya  ... 
            </p>
		</div>
        
		<div id = "tabs-3">
            <p>
               <ul>
               	<li>Steak Tah Tah</li>
               	<li>Boeuf sur son lit de poudre</li>
               	<li>Chilli con Carne</li>
               	<li>Plata o Plombo</li>
               	<li>Judith Moncada</li>
               	<li>Pour le reste déplace toi</li>
               </ul>
            </p>
         </div>
         
         <div id = "tabs-4">
            <h6>Media</h6>>
               
            <h6>Partenaire</h6>>   	
         </div>

	 </div>
    </body>