<!doctype html>
<html lang = "en">
   <head>
      <meta charset = "utf-8">
      <title>jQuery UI Tabs functionality</title>
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css
         " rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

      <script>
         $(function() {
            $( "#tabs-1" ).tabs();
         });
      </script>
		
     <h1>Resto trop bien de la mort</h1>
<h5>Miam ici on mange bien</h5>
   </head>

   <body>
      <div id = "tabs-1">
         <ul>
            <li><a href = "#tabs-2">Presentation</a></li>
            <li><a href = "#tabs-3">Menu</a></li>
            <li><a href = "#tabs-4">Ils parlent de nous</a></li>
         </ul>
         <div id = "tabs-2">
            <p>
               Pablo le restau preferé de Pablo Picasso, specilisé dans la gastronomie Colombienne, tout nos plat sont soupoudrer de Cocaine afin de vous mettre bien tah les ouf khouya  ... 
            </p>
         </div>
         <div id = "tabs-3">
               <ul>
                  <li>Steak Tah Tah</li>
                  <li>Boeuf sur son lit de poudre</li>
                  <li>Chilli con Carne</li>
                  <li>Plata o Plombo</li>
                  <li>Judith Moncada</li>
                  <li>Pour le reste déplace toi</li>
               </ul>
         </div>
         <div id = "tabs-4">
            <h6>Media</h6>
               
            <h6>Partenaire</h6>  
         </div>
      </div>
   </body>
</html>